<div class="row" *ngIf="project">
  <div class="col-sm-12">
    <h1>{{project.name}}</h1>
  </div>
  <div class="col-md-6 col-lg-8">

    <div>
      <img src="{{project.imageSource}}" alt="Card image cap" style="max-width: 100%">
    </div>

    <p>
      {{project.description}}
    </p>
  </div>

  <div class="col-md-6 col-lg-4">
    <dl class="row">

      <dt class="col-sm-3">Topic(s)</dt>

      <dd *ngFor="let topic of project.topics; let first = first;"
          [ngClass]="{'offset-sm-3': !first, 'col-sm-9': true}">{{topic}}</dd>

      <dt class="col-sm-3">Format(s)</dt>

      <dd *ngFor="let format of project.formats; let first = first;"
          [ngClass]="{'offset-sm-3': !first, 'col-sm-9': true}">{{format.name}}</dd>

      <dt class="col-sm-3">Location</dt>
      <dd class="col-sm-9">{{project.country}}</dd>
    </dl>

    <small><a data-toggle="collapse" href="#collapseAdditionalInfo" aria-expanded="false" aria-controls="collapseAdditionalInfo">Additional Info</a></small>
    <div class="collapse" id="collapseAdditionalInfo">
      <dl class="row">

        <dt class="col-sm-3">Start Date</dt>
        <dd class="col-sm-9">{{project.startDate}}</dd>

        <dt class="col-sm-3">End Date</dt>
        <dd class="col-sm-9">{{project.endDate}}</dd>

        <dt class="col-sm-3">Budget</dt>
        <dd class="col-sm-9">{{project.budget}}</dd>

        <dt class="col-sm-3">Actors</dt>
        <dd class="col-sm-9">{{project.partners}}</dd>

        <dt class="col-sm-3">Time Frame</dt>
        <dd class="col-sm-9">{{project.timeFrame}}</dd>

        <dt class="col-sm-3">Status</dt>
        <dd class="col-sm-9">{{project.status}}</dd>

        <dt class="col-sm-3">Contacts</dt>
        <dd class="col-sm-9">{{project.contacts}}</dd>
      </dl>
    </div>
    <p>
      <a href="#" data-toggle="modal" data-target="#ChecklistModal">Project Replication Checklist</a>
    </p>
  </div>

</div>

<div class="row">
  <h6>Similar Projects</h6><hr/>
  <div class="card-deck-wrapper">
    <div class="card-deck">
      <a class="card card-small" *ngFor="let cat of similarProjects" [routerLink]="['/project', cat.id]">
        <div class="card-img-top">
          <img src="{{cat.imageSource}}" alt="Card image cap">
        </div>
        <div class="card-block">
          <h6 class="card-title">{{cat.name}}</h6>
          <small *ngIf="cat.country">{{cat.country}}</small>
        </div>
      </a>
    </div>
  </div>
</div>

<style>
.card-small .card-img-top {
  height: 100px;
}

.card-small .card-block {
  padding: .5rem;
}
</style>

<!-- Modal for checklist -->
<div class="modal fade" id="ChecklistModal" tabindex="-1" role="dialog" aria-labelledby="CheckListModalLabel" aria-hidden="true" *ngIf="project">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="CheckListModalLabel">Project Checklist</h4>
      </div>
      <div class="modal-body">
        <form ngNoForm>

          <div class="form-group row">
            <div class="col-sm-12">

              <div class="form-check" *ngFor="let checklistItem of checklistItems">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" [(ngModel)]="checklistItem.checked" (change)="updateScore()"> {{checklistItem.name}}
                </label>
              </div>

              <table class="table table-sm">
                <thead>
                <tr>
                  <td></td><td>Strongly Disagree</td><td>Strongly Agree</td>
                </tr>
                </thead>
                <tbody>
                  <tr  *ngFor="let aspectItem of aspectItems">
                  <th>{{aspectItem.name}}</th>
                  <td colspan="2"><input type="range" min="-3" step="1" max="3" [(ngModel)]="aspectItem.multiplier"(change)="updateScore()" width="100%"></td>
                  </tr>
                </tbody>
              </table>

            </div>
          </div>

          <progress [ngClass]="{'progress':true, 'progress-success': score>=75, 'progress-warning': score<75 && score>=50, 'progress-danger': score<50 }" value="{{score}}" max="100"></progress>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Search</button>
      </div>
    </div>
  </div>
</div>